.vscode/**
UserLoginAPI/.vs/**
UserLoginAPI/.vscode/**
UserLoginAPI/UserLoginAPI/bin/**
UserLoginAPI/UserLoginAPI/obj/**
UserLoginAPI/UserLoginAPI.Tests/bin/**
UserLoginAPI/UserLoginAPI.Tests/obj/**
.vs/**
